/* web styles */
@media screen and (min-width: 751px) {
  .photo_grid {
    margin: 0 auto;
    padding-top: 75px;
    width: 75vw;
    text-align: left;
  }
}

/* mobile styles */
@media screen and (max-width: 750px) {
  .photo_grid {
    padding-top: 70px;
    width: 100%;
    text-align: left;
  }
}
