/* web styles */
@media screen and (min-width: 751px) {
  .container {
    width: 23vw;
    height: 23vw;
    display: inline-block;
    margin: 1vw;

    .image {
      height: 100%;
      width: 100%;
    }
  }

  .overlay {
    background-color: #000;
    opacity: 0;
    width: inherit;
    height: inherit;
    position: absolute;
    display: table;
    text-align: center;

    .label {
      display: table-cell;
      color: #FFF;
      vertical-align: middle;
      font-size: 1.5em;
      font-family: 'Raleway';
      font-weight: 100;
    }
  }
}

/* mobile styles */
@media screen and (max-width: 750px) {
  .container {
    width: 23vw;
    height: 23vw;
    display: inline-block;
    margin: 0.3vw;

    .image {
      height: 100%;
      width: 100%;
    }
  }

  .overlay {
    background-color: #000;
    opacity: 0;
    width: inherit;
    height: inherit;
    position: absolute;
    display: table;
    text-align: center;

    .label {
      display: table-cell;
      color: #FFF;
      vertical-align: middle;
      font-size: 0.9em;
      font-family: 'Raleway';
      font-weight: 100;
    }
  }
}
